*__pycache__/
datasets/
face_border_problem_ideia/
Patrick_images/
runs/
Segmenter/
SISTEMAS_UFF/
to_metrics_v6/
to_metrics_v6_full_image/
UFFCLASS/

/objects-segmentation-main/lightning_logs
/objects-segmentation-main/models
/objects-segmentation-main/segmentation_models_ptorch
/objects-segmentation-main/slurm

*.png
*.jpg
*.jpeg
*.mp4
*.pt
*.zip
*.pyc
